* {
  margin: 0%;
  padding: 0%;
}

body {
  margin-top: 30px;
  background: #2d2e2e;
  color: #fff;
}

#output {
  text-align: left;
}

/* BUTTONS */

button {
  margin: auto;
  display: block;
  height: 50px;
  width: 300px;
  border-radius: 10px;
  border: none;
  margin-top: 50px;
}

/* OUTPUT CARDS */

/* !OUTPUT CARDS WEIGHT */

#grams {
  background: #8ae9c1;
}

#kgs {
  background: #fbacbe;
}

#ozs {
  background: #f18f01;
}

#st {
  background: #2E4057;
}

#lbs {
  background: #BB342F;
}

/* !OUTPUT CARDS LENGTH */

#feet {
  background: #8CBCB9;
}

#meters {
  background: #8D6A9F;
}

#miles {
  background: #DDA448;
}

#km {
  background: #EA526F;
}
#inch {
  background: #279AF1;
}

#cm {
  background: #C3A29E; 
}