* {
  margin: 0%;
  padding: 0%;
}

body {
  margin-top: 70px;
  background: #2d2e2e;
  color: #fff;
}

#output {
  text-align: left;
}

/* OUTPUT CARDS */

#grams {
  background: #8ae9c1;
}

#kgs {
  background: #fbacbe;
}

#ozs {
  background: #f18f01;
}

#st {
  background: #2E4057;
}

#lbs {
  background: #BB342F;
}